node_modules/

.env
.env.*
!.env.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

uploads/images/profile/*
uploads/videos/*
!uploads/default.png
!uploads/images/
!uploads/images/profile/
!uploads/images/profile/.gitkeep
!uploads/videos/
!uploads/videos/.gitkeep

.DS_Store
Thumbs.db
